.nav.clearfix
    ul.pull-right
        li
            a(href="./index.html") COVER
        li
            a(href="./chapter_01.html") 01
        li
            a(href="./chapter_02.html") 02
        li
            a(href="./chapter_03.html") 03
        li
            a(href="./chapter_04.html") 04
        li
            a(href="./chapter_05.html") 05
        li
            a(href="./chapter_06.html") 06
        li
            a(href="./chapter_07.html") 07
        li
            a(href="./chapter_08.html") 08
        li
            a(href="./chapter_09.html") 09
        li
            a(href="./chapter_10.html") 10
        li
            a(href="./chapter_11.html") 11
