extends ./layout/default.jade

block variable
    - var chapter_num = '5.0'
    - var chapter_title_en = 'Index'
    - var chapter_title_cn = '索引'

block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container

    h1 Metal Gear Solid
    p.via
        | script text
        a(target='_blank', href='http://www.gamefaqs.com/gamecube/589712-metal-gear-solid-the-twin-snakes/faqs/29475') El Greco
        span /
        | translater
        a(target='_blank', href='http://solidzoro.com') SolidZORO
    .gallery.gallery-2
        img(src="./assets/img/cover_a.png", alt="")
        img(src="./assets/img/cover_b.png", alt="")
    p
        | 前幾天在iPhone上玩了兩天這款KONAMI 1994年的經典之作，非常喜歡，不過英文太差，看不明白劇情，所以花了2個通宵把文本和語音提取出來，打算先翻譯一遍，再繼續玩遊戲。
    p
        | 那好，話不多，
        a(href='chapter_5_01.html') 開始
        |。